<?xml version="1.0"?>
<!--
/**
 * @author      Navigate Commerce
 * @package     Navigate_DeleteOrder
 * @copyright   Copyright (c) Navigate (https://www.navigatecommerce.com/)
 * @license     https://www.navigatecommerce.com/end-user-license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Navigate_DeleteOrders" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Navigate_Core"/>
        </sequence>
    </module>
</config>
